<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu
				label="FeatureDashboard"
				mnemonic="M"
				id="se.gu.featuredashboard.ui.menus.featureDashboardMenu">
				<command
					mnemonic="R"
					commandId="se.gu.featuredashboard.ui.commands.RemoveMarkers"
					id="se.gu.featuredashboard.ui.menus.RemoveMarkers">
				</command>
				<command
					mnemonic="E"
					commandId="se.gu.featuredashboard.ui.commands.Export"
					id="se.gu.featuredashboard.ui.menus.Export">
				</command>
			</menu>
      	</menuContribution>
	</extension>
	
	<extension
		point = "org.eclipse.ui.preferencePages">
		<page 
			id="se.gu.featuredashboard.ui.mainPreferences.page"
			class="se.gu.featuredashboard.ui.preferences.MainPreferences"
		name="Feature Dashboard">
		</page>
	</extension>
   
	<extension
		point = "org.eclipse.ui.preferencePages">
		<page 
			id="se.gu.featuredashboard.ui.regexPreference.page"
			class="se.gu.featuredashboard.ui.preferences.RegexPreferences"
	    	category = "se.gu.featuredashboard.ui.mainPreferences.page"
			name="Regex Patterns">
       </page>
	</extension>
	
	    <extension
         point="org.eclipse.ui.views">
      <category
            name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
      </category>
      <view
            name="Feature Dashboard View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.FeatureDashboardView"
            id="se.gu.featuredashboard.ui.views.FeatureDashboardView">
      </view>
            
      </extension>
      
	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="Feature List View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.FeatureListView"
            id="se.gu.featuredashboard.ui.views.FeatureListView">
		</view>
	</extension>
      
	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="Feature-to-File View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.FeatureFileView"
            id="se.gu.featuredashboard.ui.views.FeatureFileView">
		</view>
	</extension>
      
	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="Feature-to-Folder View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.FeatureFolderView"
            id="se.gu.featuredashboard.ui.views.FeatureFolderView">
		</view>
	</extension>
      
	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="Feature Metrics View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.FeatureMetricsView"
            id="se.gu.featuredashboard.ui.views.FeatureMetricsView">
		</view>
	</extension>
      
	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="Project Metrics View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.ProjectMetricsView"
            id="se.gu.featuredashboard.ui.views.ProjectMetricsView">
		</view>
	</extension>
      
	<extension
		id="se.gu.featuredashboard.ui.AnnotationMarker"
      	name="Feature marker"
        point="org.eclipse.core.resources.markers">
		<persistent 
			value="false">
		</persistent>
		<super 
			type="org.eclipse.core.resources.marker">
		</super>
		<super 
			type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
      
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerSeverity="0"
       		super="org.eclipse.ui.workbench.texteditor.info"
      		markerType="se.gu.featuredashboard.ui.AnnotationMarker"
       		name="se.gu.featuredashboard.ui.AnnotationType">
		</type>
	</extension>	
   
	<extension
		point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="se.gu.featuredashboard.ui.AnnotationSpecification">
		<specification
			annotationType="se.gu.featuredashboard.ui.AnnotationType"
            colorPreferenceKey="se.gu.featuredashboard.ui.AnnotationMarker.color"
            colorPreferenceValue="0,255,0"
            contributesToHeader="false"
            highlightPreferenceKey="se.gu.featuredashboard.ui.AnnotationMarker.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Feature marker"
            overviewRulerPreferenceKey="se.gu.featuredashboard.ui.AnnotationMarker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="se.gu.featuredashboard.ui.AnnotationMarker.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="se.gu.featuredashboard.ui.AnnotationMarker.ruler"
            verticalRulerPreferenceValue="true">
		</specification>
	</extension>
	
	<extension
		point="org.eclipse.ui.commands">
		<category
			name="Remove Markers Category"
			id="se.gu.featuredashboard.ui.commands.RemoveMarkers">
		</category>
		<command
			name="Remove Markers"
			categoryId="se.gu.featuredashboard.ui.commands.RemoveMarkers"
			id="se.gu.featuredashboard.ui.commands.RemoveMarkers">
		</command>
	</extension>
	
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			commandId="se.gu.featuredashboard.ui.commands.RemoveMarkers"
			class="se.gu.featuredashboard.ui.handlers.RemoveMarkers">
		</handler>
	</extension>
	
	<extension
		point="org.eclipse.ui.commands">
		<category
			name="Export feature metrics to CSV"
			id="se.gu.featuredashboard.ui.commands.Export">
		</category>
		<command
			name="Export feature metrics"
			categoryId="se.gu.featuredashboard.ui.commands.Export"
			id="se.gu.featuredashboard.ui.commands.Export">
		</command>
	</extension>
	
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			commandId="se.gu.featuredashboard.ui.commands.Export"
			class="se.gu.featuredashboard.ui.handlers.Export">
		</handler>
	</extension>
    
	<extension
		id="se.gu.featuredashboard.utils.Builder"
		point="org.eclipse.core.resources.builders"
		name="Featuredashboard builder">
		<builder>
			<run
				class="se.gu.featuredashboard.utils.Builder">
			</run>
		</builder>
	</extension>
	
	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="History View"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.HistoryView"
            id="se.gu.featuredashboard.ui.views.HistoryView">
		</view>
	</extension>
 <extension
       id="se.gu.featuredashboard.ui.FeatureDashboardView"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="se.gu.featuredashboard.product">
    </product>
 </extension>
 
 	<extension
		point="org.eclipse.ui.views">
		<category
			name="FeatureDashboard"
            id="se.gu.featuredashboard.ui.views">
		</category>
		<view
			name="Feature-to-File List"
            icon="icons/featureDashboard_icon.png"
            category="se.gu.featuredashboard.ui.views"
            class="se.gu.featuredashboard.ui.views.TreeView"
            id="se.gu.featuredashboard.ui.views.TreeView">
		</view>
	</extension>
	
</plugin>
