<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Examples Category"
            id="org.eclipse.florida.basics.commands.examplesCategory">
      </category>
      <command
            name="Example1 Command"
            categoryId="org.eclipse.florida.basics.commands.examplesCategory"
            id="org.eclipse.florida.basics.commands.runExample1Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.florida.basics.commands.runExample1Command"
            class="org.eclipse.florida.basics.handlers.Example1Handler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.florida.basics.commands.runExample1Command"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="FLOrIDA"
               mnemonic="M"
               id="org.eclipse.florida.basics.menus.floridaMenu">
            <command
                  commandId="org.eclipse.florida.basics.commands.runExample1Command"
                  mnemonic="S"
                  id="org.eclipse.florida.basics.menus.runExample1">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.florida.basics.toolbars.Example1Toolbar">
            <command
                  commandId="org.eclipse.florida.basics.commands.runExample1Command"
                  icon="icons/florida_icon.png"
                  tooltip="run feature location dashboard for example1"
                  id="org.eclipse.florida.basics.toolbars.runExample1Command">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
